.header__content {
   display: grid;
   grid-template-columns: 330px 1fr 380px;
   place-items: center;
   @media (max-width:1060px) {grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));} 
   @media (max-width:900px) {grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));}
   @media (max-width:500px) {grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));}
   @media (max-width:400px) {grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));}
}

.container {
    max-width: 1410px;
    margin: 0 auto;
    height: 200px;
}

.header__nav {
    @media (max-width:500px) {display: grid;
        grid-template-columns: auto;
        justify-self:center;
        transform: translate(-20px);
        grid-gap: 10px;
    }
}

.header__nav-link {
    margin-left: 50px;
    font-family: Montserrat;
    font-size: 14px;
    color:#A0A3A7;
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;    
}

.header__button {
    width: 150px;
    height: 30px;
    background-color:#E1E1E1;
    border: none;
    border-radius: 30px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    cursor: pointer;   
}

.header__logo {
    width: 33px;
    height: 43px;
}

