.slider { 
 display: grid;
 place-items: center;
 max-width: 1410px;
 margin: 0 auto;
}

.slider__item {
    list-style-type: none;
    margin: 300 auto 300;  
}

.slider__item-content {
 
width: 500px;
height: 400px;
}

.slider__item {
    margin: auto;
}

.slider__title {
font-family: Raleway;
font-weight: 300;
font-size: 60px;
line-height: 83px;
text-align: center;
color: #F2F4F7;
}

.slider__subtitle {
font-weight: 300;
font-size: 18px;
line-height: 21px;
text-align: center;
font-family: Raleway;
color:#F2F4F7;
margin-bottom: 40px;
}

.slider-button {
width: 239px;
height: 53px;
margin: 0 auto;
display: block;
border: 2px solid #FC4060;
color: #8061FD;
font-size: 18px;
line-height: 21px;
font-family: Montserrat;
cursor: pointer;
}

.slider__dots {
    margin-bottom: 150px; 
    display: grid;
    place-items: center;  
    grid-template-columns: repeat(5, 1fr);

}

.slider__dot {
    margin-left: 30px;
    width: 16px;
    height: 16px;
    background-color: rgba(196, 196, 196, 0.16);    
    }

    .slider__dot:focus::before {
        border-color: red;
      }